<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="Biz vs Dev Podcast - weekly discourse on Business, Development, and Business Development">
        <meta name="viewport" content="width=740">

        <link rel="alternate" type="application/rss+xml" href="http://www.bizvsdev.com/podcast.xml">

        <link href="//cloud.webtype.com/css/73bd59f3-f739-4645-a1b3-c3e933278dcb.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div class="header-container">
            <header class="clearfix">
                <h1 class="title"><a href="/"><span class="title-biz">Biz</span>
                  <span class="title-vs"><span class="title-vs-v">v</span><span class="title-vs-s">s</span></span>
                  <span class="title-dev">Dev</span>
                  <small class="title-podcast">Podcast</small></a></h1>
                <h2>A weekly podcast<br>
                    on the topic of business, development,
                    &amp; business development</h2>
                <h3><small>hosted by:</small>
                  James Robert<br>
                  &amp; Mik Pozin</h3>
                <a class="subscribe-btn" href="https://itunes.apple.com/us/podcast/biz-vs-dev/id646591613">Subscribe in iTunes ▸</a>
                <div class="rss-subscribe">…or <a class="rss-link" href="/podcast.xml">vis RSS</a></div>
            </header>
        </div>

        <div class="main-container">
            <div class="main clearfix">
                {{ content }}
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="clear"></div>
        <div class="footer-container">
            <footer>
                <div class='footer-left'>
                  <ul>
                    <li><a href="/">home</a>
                    <li><a href="mailto:contact@bizvsdev.com">contact us</a>
                  </ul>
                </div>
                <div class='footer-right'>
                  <p class="copyright">&copy;2013 James Robert &amp; Mik Pozin</p>
                </div>
                <div class="clear"></div>
            </footer>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-38780961-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>

